# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.venv

# IDE / Editor specific
.idea/
.vscode/
*.swp

# OS specific
.DS_Store

# Test output
.pytest_cache/
.coverage

# uv lock file
uv.lock

# Ignore all .csv files except those in the examples/ directory
*.csv
!examples/*.csv
